<div class="form_new_b">
  <div class="container_1">
    <form class="new_book" action="/books" method="post">
      <input type="text" name="book[title]" placeholder="Title" >
      <input type="text" name="book[pages]" placeholder="Pages Number" >
      <input type="text" name="book[year]" placeholder="Year" >
      <input type="text" name="book[authors]" placeholder="Author(s)" >
      <input type="submit" value="Create Book">
    </form>
  </div>
</div>
